# Node.js dependencies
node_modules/

# Server-side logs
logs/
*.log

# Vite build output
/dist/

# Client-side build
/build/

# Environment variables
.env

# Server-side dependencies
/backend/node_modules/

# Client-side dependencies
/frontend/node_modules/

# Production build artifacts
/backend/build/
/frontend/build/

# IDE and editor files
.idea/
.vscode/

# Windows
Thumbs.db
Desktop.ini
